---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/">Home</a>
        <a href="/blog/">blog</a>
        <a href="/about/">About</a>
		<h1>My Astro Site</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, explicabo! Eaque deserunt iusto quae amet officiis veritatis fuga temporibus nesciunt minima explicabo inventore, recusandae exercitationem, suscipit reprehenderit eum odit cum!</p>
	</body>
</html>